body {
    font-family: "Segoe UI";
    background-color: #18191A;
    margin: 0;
}

.header {
    position: fixed;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #242526;
    height: 60px;
    z-index: 1000;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: left;
}

.center-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-buttons {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    color: #fff;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10%;
}

.center-buttons:hover{
    background-color: #434445;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0866FF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.underline::after {
    transform: scaleX(1);
}

.vertical-line {
    height: 40px;
    width: 1px;
    background-color: #434445;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-class {
    cursor: pointer;
}

.x-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #3A3B3C;
    border-radius: 50%;
    margin-right: 8px;
    font-size: large;
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3A3B3C;
    border-radius: 50%;
    margin-right: 8px;
    font-size: large;
}

.icon-background:hover{
    background-color: #434445;
}

.Searchbar::placeholder {
    color: #656668;
}

.search-container {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.Searchbar {
    width: 200px;
    height: 30px;
    padding-left: 30px;
    background-color: #3A3B3C;
    border-radius: 5vw;
    border: 2px solid #3A3B3C;
    outline: none;
    color: #B2B2B2;
}

.search-container::before {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #B2B2B2;
}

#facebookLogoButton {
    cursor: pointer;
    margin-left: 10px;
    float: left;
    background-color: white;
    height: 45px;
    width: 45px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#facebookLogoButton i {
    margin: 0;
}


.leftSideBar {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    align-content: start;
    align-items: start;
    position: fixed;
    top: 60px;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: #242526;
    color: #fff;
    padding: 10px;
    padding-top: 0;
    overflow-y: auto;

    scrollbar-width:thin;
    scrollbar-color: #38393a #242526;
}

.leftSideBar::-webkit-scrollbar {
    width: 0px;
}

  .leftSideBar:first-child{
    margin-top: 0px;
    justify-content: center;    
    position: fixed;
  }

  .leftSideBar .fixed-child {
    position: sticky;
    top: 0px; 
    background-color: #242526;
}


.leftSideBar2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    align-content: start;
    align-items: start;
    position: fixed;
    top: 60px;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: #242526;
    color: #fff;
    padding: 10px;
    padding-top: 0;
    overflow-y: auto;

    scrollbar-width:thin;
    scrollbar-color: #38393a #242526;
}

.leftSideBar2::-webkit-scrollbar {
    width: 0px;
}

  .leftSideBar2:first-child{
    margin-top: 0px;
    justify-content: center;    
    position: fixed;
  }

  .leftSideBar2 .fixed-child {
    position: sticky;
    top: 0px; 
    background-color: #242526;
}


  .tab-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #3A3B3C;
    margin-bottom: 10px;
}

.tab-buttons {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 10px;
    border-radius: 7%;
    height: 50px;
}

.tab-buttons:hover{
    background-color: #434445;
}

.link-buttons{
    height: 60px;
    display: flex;
    padding-left: 5px;
    justify-content: left;
    align-items: center;
    font-size:xx-large;
    border-radius: 8%;
}

.link-buttons-unclickable{
    height: 60px;
    display: flex;
    padding-left: 5px;
    justify-content: left;
    align-items: center;
    font-size:xx-large;
    border-radius: 8%;
}

.link-buttons:hover{
    background-color: #434445;
}

.rotate-class {
    transition: transform 0.3s ease, color 0.3s ease;
}

.rotate-class:hover {
    transform: rotate(90deg);
    color: #0866FF;
}

.discoveryPanels{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3A3B3C;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 45px;
    padding-left: 5px;
    justify-content: left;
    font-size:x-large;
}

.discovery-title{
    display: flex;
    align-items: center;
    min-height: 60px;
    justify-content: left;
    font-size:large;
}

.inner-content{
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed; /* Change from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: left;
    align-items: start;
    margin-top: 60px;
    z-index: 99999;
}

  .overlay-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 326px;
    background-color: #242526;
    border-radius: 2%;
  }

  .panel-top{
    display: flex;
    justify-content: left;
    background-color: #242526;
    border-radius: 2%;
    border-bottom: 1px solid #3A3B3C;
    padding-bottom: 8px;
  }

.drag-panels {
      display: flex;
      align-items: center;
      height: 40px;
      margin: 0;
      background-color: #3A3B3C;
    }

.drag-panels-helper{
    opacity: 0.5;
}

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #ccc;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        margin-right: 5px; /* Add some spacing between checkbox and text */
      }
  
      input[type="checkbox"]:checked {
        background-color: #0866FF;
        border: 1px solid #0866FF;
      }
  
      label {
        display: inline-flex;
        align-items: center;
        font-family: 'Segoe UI';
        font-weight: 500;
        font-size:large;
        color: #FFFFFF;
        cursor: pointer;
        white-space: nowrap;
        padding-left: 5px;
      }


/* Styles for Create Post Panel */
.content-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 80px 325px;
    height: 800px;
}

.create-post {
    background-color: #242526;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    width: 80vw;
}

#profile-picture {
    margin-left: 0px;
    position: absolute;
    margin-top: -2.5px;
    color: white;
    font-size: 36px;
    transition: color 0.3s ease;
}

#profile-picture:hover {
    color: #005eff;
}


.create-post-content {
    margin-left: 70px; 
    position: relative;
}

.create-post-hr {
    border: none;
    border-top: 2px solid #393a3b;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttons-container span {
    margin-left: 5px;
    position: relative;
    top: -5px;
    font-size: 15px;
}

.buttons-container button {
    background-color: #242526;
    color: #b2b3b4;
    cursor: pointer;
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    flex: 0 0 25%; 
    min-width: 0; 
    white-space: nowrap; 
}

.buttons-container button:hover {
    background-color: #393a3b;
}

.buttons-container button:nth-child(1),
.buttons-container button:nth-child(2),
.buttons-container button:nth-child(3),
.buttons-container button:nth-child(4) {
    flex-basis: calc(25% - 5px);
    min-width: 0; 
}

/*text area button */
.text-area-button {
    appearance: none;
    border-radius: 50px;
    background-color: #393a3b;
    color: #b2b3b4;
    border: none;
    width: calc(100% + 25px); 
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 13px;
    resize: none;
    overflow: hidden;
    height: 30px;
    display: flex;
    align-items: flex-start;
    padding: 9px;
    margin-left: -27px;
    margin-bottom: 13px;
}

.text-area-button:hover {
    background-color: #4e4f50;
}

.text-area-button::placeholder {
    color: #b2b3b4;
}

/*floating create post panel styles */
.floating-panel {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242526;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    width: 300px;
    height: 260px;
}

.floating-panel.show {
    display: block;
}

.dim-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}

.floating-panel.show ~ .dim-overlay {
    display: block;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.panel-header .close-button {
    border: none;
    border-radius: 50%;
    background-color: #393a3b;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    margin-top: -15px;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
}

.close-button:hover{
    background-color: #434445;
}

.create-post-header {
    text-align: center;
    margin: 0;
    flex-grow: 1;
    margin-top: -15px;
    color: #FFFFFF;
    font-size: 17px;
    user-select: none;
}

.line-divider {
    width: calc(113.5%); 
    margin-left: -20px;
    border: none;
    border-top: 1px solid #393a3b;
    margin-top: -2px
}

.user-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    margin-left: 33px; 
    margin-top: -5px;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.username{
    user-select: none;
}

.main-page #profile-picture {
    margin-top: 5px;
    margin-left: -10px;
}

.main-page textarea {
    border: none;
    width: 105%; 
    background-color: #242526;
    color: #b2b3b4;  
    font-size: 16px;
    margin-left: -8px;
    resize: none; 
    overflow-y: auto; 
    height: 140px;
}

.post-btn {
    width: 105%;
    border-radius: 5px;
    margin-top: 5px;
    color: #FFFFFF;
    background-color: #393a3b;
    border: none;
    margin-left: -8px;
    padding: 5px 0px;
}

.post-btn:hover {
    background-color: #4e4f50;
}

.dropdown-btn {
    display: flex;
    align-items:center;
    border-radius: 50px;
    background-color: #393a3b;
    color: #8e8e8e;
    border: none;
    font-size: 10px;
    margin-top: 3px;
    width: 28%;
}
